@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
  margin: 0;
  font-family: "poppins", sans-serif;
}

body {
  background-image: linear-gradient(90deg, rgb(203, 174, 223), rgb(255, 151, 189));
  text-align: center;
}

.to-do-list {
  margin: 5rem;
  padding: 2rem;
  border-radius: 30px; 
  background-color: white;
  
}

h1 {
  font-size: 2.75rem;
  padding: 1rem;
}

button {
  margin: 0.25rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}

.add-button {
  background-color: rgb(100, 225, 160);
  margin: 0.5rem;
}

.add-button:hover {
  background-color: rgb(71, 162, 115);
}

.delete-button {
  background-color: rgb(250, 80, 80);
  color: white;
}

.delete-button:hover {
  background-color: rgb(205, 47, 65);
}

.move-button {
  background-color: rgb(227, 227, 227);
}

.move-button:hover {
  background-color: rgb(176, 176, 176);
}

input[type="text"]{
  font-size: 1rem;
  padding-left: 0.75rem;

}


ol {
  margin: 2rem;
  border-top: 1px solid rgb(196, 196, 196);
  list-style-type: none;
  padding: 2rem;
}

li { 
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid rgb(193, 193, 193);
}



/* Mobile Styles */


@media (max-width: 500px) {
  
  .to-do-list {
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 30px;
  }

  ol {
    margin: 1rem;
    border-top: 1px solid rgb(196, 196, 196);
    list-style-type: none;
    padding: 1rem;
  }

}